
  

  .illustration-inner {
    position: absolute;
  }
  
  .i1 {
    left: 75px;
    top: 6px;
  }
  
  .i2 {
    left: 68px;
    top: -46px;
  }
  
  .i3 {
    left: 50px;
    top: 5ch;
  }
  
  .i4 {
    left: 0px;
    top: 30px;
  }
  